body {
  margin: 0 !important;
  padding: 0 !important;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}
/* ---------- DISPERSION RELATION DROPDOWN ---------- */
#dispRelDropdownButton {
    background-color: #F9F9F9;
    padding: 10px;
    font-size: 14px;
    border-style: solid;
    border-width: 2px;
    border-color: #444444;
    cursor: pointer;
    width: 350px;
}
#dispRelDropdownButton:hover, #dispRelDropdownButton:focus {
    background-color: #EEEEEE;
}

/* Content (Hidden by Default) */
#dispRelDropdown {
    display: none;
    position: absolute;
    width: 350px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
/* Buttons inside the dropdown */
#dispRelDropdown button {
    width: 100%;
    padding: 10px;
    display: block;
    background-color: #EEEEEE;
    font-size: 14px;
    border: none;
    cursor: pointer;
}
/* Change color of dropdown links on hover */
#dispRelDropdown button:hover {
  background-color: #DDDDDD
}
/* ---------- PROPELLANT SPECIES DROPDOWN ---------- */
#propellantDropdownButton {
    background-color: #F9F9F9;
    padding: 10px;
    font-size: 14px;
    border-style: solid;
    border-width: 2px;
    border-color: #444444;
    cursor: pointer;
    width: 100px;
}
#propellantDropdownButton:hover, #propellantDropdownButton:focus {
    background-color: #EEEEEE;
}

/* Content (Hidden by Default) */
#propellantDropdown {
    display: none;
    position: absolute;
    width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
/* Buttons inside the dropdown */
#propellantDropdown button {
    width: 100%;
    padding: 10px;
    display: block;
    background-color: #EEEEEE;
    font-size: 14px;
    border: none;
    cursor: pointer;
}
/* Change color of dropdown links on hover */
#propellantDropdown button:hover {
  background-color: #DDDDDD
}

/* ---------- INPUT FIELD ---------- */
.parameter {
  /*width: 40%;*/
  width: 300px;
  height: 130px;
  border-style: solid;
  border-width: 2px;
  border-color: #444444;
  margin: 0 0 10px 0;
}

.paramName {
  width: 100%;
  line-height: 30px;
  text-align: center;
  vertical-align: middle;
}
.paramDataType, .paramDataFormat, .paramDataFile, .paramDataValue, .paramPlot {
  width: 100%;
  height: 22px;
  line-height: 22px;
  text-align: center;
}
.paramFilename {
  float:right;
  margin-left:5px;
}

/* ---------- GENERAL STUFF ---------- */
.generalContainer {
  padding: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: #444444;
}